body {
	margin: 0;
	padding: 0;
	color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	align-content: center;
}
.container {
	width: 70vw;
	max-width: 1000px;
	margin: 100px auto;
	margin-top: 100px;
}
